<!--<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="../public/css/main.css" rel="stylesheet" type="text/css">

</head>

<body>
-->
<img src="images/logo.jpg" id="logo">
<img src="images/topbar.jpg" id="topBar">

<div id="list">
<a class="total">Shopping list&nbsp;&nbsp;&nbsp;Total:</a>
<div id="cart">
<a class="total">Shopping list&nbsp;&nbsp;&nbsp;Total:</a>
<ul id="shop-list">
  <li>Name      <input type="number" step="1" name="amount"/>      Price</li>
</ul>
  <a> user {{username}}  </a>
    </a><button id="checkout" name="checkout" value="Check out" onclick = ""> Check out</button>
</div>
</div>

<nav><!-- <nav> is a semantic tag! -->
<ul class="menu">
    <li><a href="/">Home</a></li>
</ul>
<!--
<form method="GET" action="/admin">
  <input type="submit" value="Log In" />
</form>
<form method="GET" action="/admin/logout">
  <input type="submit" value="Log Out" />
</form>
-->

<a href="/admin">{{admin}}</a>&nbsp;&nbsp;
<a href="/account">{{user}}</a>&nbsp;&nbsp;
<a href="/admin/logout">{{logout}}</a>

<!--<pre>{{login}}</pre>-->
</nav>

<div id="categories">
    <p>List of Categories:</p>
    <ul>
    {{#each cat}}
        <li><a href="/category?catid={{catid}}" target="_blank">{{name}}</a></li>
    {{/each}}
    </ul>
</div>

<ul class="table">
{{#each prod}}
  <li><a href="/product?pid={{pid}}" target="_blank"><img src="images/{{pid}}.jpg" class="category"/>{{name}}</a>&nbsp;${{price}}&nbsp;<button onclick="addproduct({{pid}},1)">Add to cart</button></li>
{{/each}}

<!--
</body>
<script type="text/javascript" src="../public/lib/shopping.js"></script>
</html>
-->
